#calculator{
    border: 10px solid black;
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(4, 100px);
}
#display{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid red;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-size: 5em;
}
#button0{
    grid-column-start: 1;
    grid-column-end: 3;
}
#main{
    display: flex;
    justify-content: center;
}
body{
    background-color:rgb(223, 255, 223);
}